*{
    margin: 0px 0px;
    padding: 0px 0px;
}

.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img-prop{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 99vw;
    height: 8vh;
    background-color: rgb(29, 82, 140);
}

.nav-elements{ 
    text-align: center;
    width: 11vw;
    padding-top: 14px;
}

.nav-elements a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.nav-elements:hover{
    background-color: rgb(31, 77, 125);
}


.name-heading{
    width: 99vw;
    height: 10vh;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 5vh;
}

.main-heading h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: bolder;
}

.images-frame{
    width: 99vw;
    height: 90vh;
    margin-top: 5vh;
}

.single-image{
    width: 40vw;
    height: 85vh;
    border-radius: 10px;
    margin-top: 2vh;
    margin-left: 2vw;
    background-image: url("./images/chamoli7.webp");

}

.second-part{
    width: 53vw;
    height: 85vh;
    margin-left: 1vw;
    margin-top: 2vh;
}

.second-part-1, .second-part-2{
    width: 27vw;
    height: 41vh;
    flex-direction: column;
}

.img{
    width: 27vw;
    height: 40vh;
    margin-top: 1vh;
    margin-left: 1vh;
    border-radius: 15px;
}

.image-1{
    background-image: url("./images/chamoli1.webp");
}
.image-2{
    background-image: url("./images/chamoli2.jpeg");
}
.image-3{
    background-image: url("./images/chamoli3.jpeg");
}
.image-4{
    background-image: url("./images/chamoli4.jpeg");
}

.description{
    margin-top: 10vh;
    width: 99vw;
    height: 60vh;
    flex-direction: row;
    background-color: rgb(228, 228, 228);
    border-radius: 15px;
    margin-bottom: 5vh;
}

.description:hover{
    box-shadow: 0 16px 20px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.map-image{
    width: 30vw;
    height: 55vh;
    margin-top: 2vh;
    border-radius: 10px;
    margin-left: 4vw;
    background-image: url("./images/chamoli6.jpg");
}

.description-text{
    margin-left: 3vw;
    margin-top: 2vh;
    width: 57vw;
    height: 55vh;
    justify-content: center;
}

.description-text p{
    padding-top: 6vh;
    font-size: 20px;
    font-family: 'Lobster', cursive;
}

.places-heading{
    width: 99vw;
    height: 5vh;
    padding-top: 2vh;
    font-size: 40px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}

.menu-cards{
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0.5vh;
    width: 80vw;
    height: 32vh;
}

.card{
    margin-left: 1vw;
    margin-top: 1vh;
    width: 18vw;
    height: 30vh;
    border-radius: 15px;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    padding-top: 1vh;
}

.card-1{
    background-image: url("./images/chamoli8.jpg");
}
.card-2{
    background-image: url("./images/chamoli9.jpg");
}
.card-3{
    background-image: url("./images/chamoli10.jpg");
}
.card-4{
    background-image: url("./images/chamoli11.jpg");
}
.card-5{
    background-image: url("./images/chamoli12.jpg");
}
.card-6{
    background-image: url("./images/chamoli13.jpg");
}
.card-7{
    background-image: url("./images/chamoli14.jpg");
}
.card-8{
    background-image: url("./images/chamoli15.jpg");
}
.card-9{
    background-image: url("./images/chamoli16.jpg");
}
.card-10{
    background-image: url("./images/chamoli17.webp");
}
.card:hover{
    font-size: 25px;
    font-weight: bolder;
    color: black;
    opacity: 80%;
    box-shadow: 0 16px 20px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .company-logo{
        width: 8vw;
        height: 15vh;
        border: 1px solid black;
        border-radius: 50%;
        background-image: url("../main-page-images/company-logo.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 3vh;
    }
    .address{
        width: 25vw;
        height: 14vh;
        margin-top: 5vh;
        margin-left: 2vw;
    }
    
    .address p{
        font-size: 20px;
        color: white;
    }
    
    
    .footer{
        display: flex;
        flex-direction: row;
        width: 99vw;
        height: 20vh;
        margin-top: 5vh;
        background-color:rgb(29, 82, 140);
        justify-content: center;
    }